@import url('fonts.css');

body {
    margin: 0; 
    padding: 0;
    background-image: none;
    /* background-color: #fff; */
}

.main_container > *{
    font-family: 'BeVietnamPro', sans-serif;
    font-weight: regular;
    background-color: #fff;
    font-size: 16px;
}
/*Main Board Test*/
.male_maintestboard-img, .female_maintestboard-img{
    height: 400px;
    width: 230px;
    align-self: center;
}
.m_introduction-img{
    height: 350px;
    width: 280px;
    position: absolute;
    top:1100px;   
    left:1260px;
}
.f_introduction-img{
    height: 300px;
    width: 250px;
    position: absolute;
    transform: rotate(-150deg);
}
.m_attract-img{

}
.f_attract-img{

}
.main-test-board{
    background-color: #2F2F30;
    border-radius: 30px;
    padding: 10px 30px 10px 40px;
    margin: 20px 45px 0 50px;
    height: 530px;
    display: flex;
}
.main-component{
    box-sizing: border-box;
    width: 1424px;
    place-self: center;
    align-items: center;
}   
.main-test-board div{
    display: flex;
}
.board-text{
    width: 60%; 
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    height: 100%;
    gap: 30px;
}
.board-header, .board-subheader, .board-explore-btn {
    margin: 0; /* Loại bỏ khoảng cách thừa */
}
.board-text .board-header{
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin-top: 4px;
    font-size: 80px;
    line-height: 1.1;
}
.board-text .board-header b{
    color: #FFD700;
}
.board-text a{
    text-decoration: none;
}
.board-text .board-subheader{
    font-weight: normal;
    display:block;
    opacity: 0.65;
    font-size: 28px;
    color: #fff;
    max-width: 90%;
}
.board-explore-btn{
    display: block;
    border:none;
    border-radius: 23px;
    width: 180px;
    height: 60px;
    transition: 0.3s ease;
    background-color: #FFD700;
    color: rgb(0, 0, 0);
    padding: 1px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
}
.board-explore-btn:hover {
    color: #ffffff;
    border: 2px solid #FFD700;
    transform: scale(1.05);
}
.icon{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.board-img{
    width: 200px;;
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
/*Intro-web*/
.maintest-introduction{
    display: flex ;
    margin: 0;
    flex-direction: row;
}
.intro-web{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    padding: 0 290px 0 290px;

}
.intro-title{
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 50px;
    font-style: black;
    color: #2F2F30;
    line-height: 1.5;   
}
.intro-subtext{
    font-family: 'BeVietnamPro', sans-serif;
    font-size: 25px;
    font-weight: normal;
    color:#2F2F30;
}
/*Mini-nav*/
.main-mini-nav{
    padding: 20px 20px;
    /* margin: 20px 20px; */
    margin-left: 20px;
    margin-right:20px;
    margin-bottom: 20px;
    margin-top: 110px;
}
.mini-nav{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 0 10px 0 10px;
}
.title{
    margin-left: 40px;
    line-height: 1.5;
    font-size: 50px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: bold;
    color: #2F2F30;
}

.news-text, .knowledge-text{
    padding-left: 140px;
    padding-right:140px;
}
.mini-nav img{
    width: 80%;
    height: 100%;
    align-self: center;
    justify-self: center;
    object-fit: contain;
    z-index: 1000;
}
.news-text h2, .knowledge-text h2{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}
.knowledge-text{
    margin-top:50px;
}
.news-text p, .knowledge-text p{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: light;
    font-size: 20px; 
    color: #828282;
    width: 100%;
}
/* .knowledge-text button, .news-text button{
    font-family: 'Gabarito', sans-serif;
    font-weight: bold;
    font-size: 17px;
    border-radius: 30px;
    border-color: #FCCE0D;
    background-color: #FCCE0D;
    color: #2F2F30;
    height: 35px;
    width: 130px;
    text-align: center;
    height: fit-content;
    transition: 0.3s ease;
} */
.knowledge-text button:hover, .news-text button:hover{
    color:#fff;
    transform: scale(1.1);
}
.news-img,
.knowledge-img {
  width: 100%; /* Adjust as needed */
  height: 300px; /* Example height */
}

.news-img .swiper-slide img,
.knowledge-img .swiper-slide img {
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  object-fit: cover; /* Ensures images fill the slide nicely */
}
/*User Experience*/
.UX-containner{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
}
.UX-containner h1{
    margin-left: 20px;
    font-size: 40px;
}
.card-container {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Spacing between cards */
    justify-content: center;
    align-items: start; /* Ensures cards align from the top */
    padding: 20px;
    margin-left: 18px;
    margin-top: 0px;
    flex-wrap: wrap;
}
/*Responsive Web*/
@media screen and (max-width: 1095px){
    .male_maintestboard-img, .female_maintestboard-img{
        display: none;
    }
    .f_introduction-img{
        display: none;
    }
    .intro-web{
        padding: 0 30px 0 30px;
    }
    .board-text{
        width: 100%;
        max-width: 100%;
    }
    .board-text .board-header{
        font-size: 60px;
        max-width: fit-content;
    }
    .board-text .board-subheader{
        font-size: 25px;
        max-width: 100%;
    }
}
@media (max-width: 762px){
    .board-text{
        width: 100%;
        max-width: 100%;
    }
    .board-text .board-header{
        font-size: 40px;
        max-width: fit-content;
    }
    .board-text .board-subheader{
        font-size: 20px;
        max-width: 100%;
    }
}

@media screen and (max-width: 500px){
    .card-containner{
        flex-direction: column;
        align-items: center;
    }
    
}
@media screen and (max-width: 773px){
    .mini-nav{
        grid-template-areas:
        "content1"
        "image1"
        "content2"
        "image2";
    }
}