.news-content{
    padding-left: 20vw;
    padding-right: 20vw;
}
.news-content strong {
    font-weight: inherit; /* Inherit the font-weight from the parent h3 */
}
.news-content img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.news-content h1 {
    font-family: 'Be Vietnam Pro';
    font-size: 3rem;
    margin: 1rem 0;
    font-weight: 700 ; /* Makes the text lighter */
}
.news-content h2 {
    font-family: 'Be Vietnam Pro';
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: 500 ; /* Makes the text lighter */
}
.news-content h3{
    all: unset;
    font-size: 1.2rem;
    font-family: 'Be Vietnam Pro';
    font-weight: 500 ;
    margin: 1rem 0;
}
.news-content p{
    font-family: 'Be Vietnam Pro';
    font-weight: 300;
    font-size: 1rem;
    margin: 1rem 0;
}
.news-content date{
    font-family: 'Be Vietnam Pro';
    font-weight: 300;
    font-size: 1rem;
    margin: 1rem 0;
}
.line {
    flex: 0.33; /* Allows the line to grow and shrink */
    height: 1px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 50px;
}