@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    margin: 0;
    padding: 0;
}

.fixed-top {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    width: 100%;
    background-color: #fff; /* Adjust background color as needed */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Add shadow if needed */
    position: fixed; /* Make the container fixed to the top */
    top: 0;
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.nav-pane {
    flex: 0.5; /* Adjust flex value as needed */
}

.header {
    flex: 3; /* Adjust flex value as needed */
}
/*LOGIN*/
.admin_validate_container{
    backdrop-filter: blur(40px); /* Adjust blur value as needed */
    background-color: #fff;
    z-index: 2000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    font-family: 'Inter',sans-serif;
    font-weight: Bold 700;
    gap: 10px;
}
.admin_pin{
    position: absolute;
    left: 35%;    
    display: flex;
    flex-direction: column;
}
.admin_pin_input{
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.admin_pin_input input{
    font-size: 30px; /* Adjust font size as needed */
    text-align: center;
    line-height: 2;
}
.admin_pin_input button{
    position: relative;
    left: 25px;
}
