@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    margin: 0;
    padding: 0;
}

.fixed-top {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    width: 100%;
    background-color: #fff; /* Adjust background color as needed */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Add shadow if needed */
    position: fixed; 
    top: 0;
    z-index: 1000; /* Ensure it stays on top of other elements */
}

.nav-pane {
    flex: 0.2; /* Adjust flex value as needed */
}

.right-side {
    flex: 0.8; /* Keep the same flex value */
    display: flex; 
    flex-direction: column; /* Ensure the content flows top-to-bottom */
    height: 100vh; /* Full height of the viewport */
    overflow: hidden; /* Prevent unwanted overflow */
}

.add-post-container{
    position: sticky;
}
.inside-right-side{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
}
/*LOGIN*/
.admin_validate_container{
    backdrop-filter: blur(40px); /* Adjust blur value as needed */
    background-color: #fff;
    z-index: 2000;
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    gap: 10px;
}
.admin_pin{
    /* position: absolute; */
    /* left: 35%;     */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.admin_pin_input{
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.admin_pin_input input{
    font-size: 30px; /* Adjust font size as needed */
    text-align: center;
    line-height: 2;
}
.admin_pin_input button{
    position: relative;
    left: 0px;
}
.admin_pin1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 270px;
    margin-bottom: 200px;
}
.admin_pin_input1{
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    place-items: center;
}
.admin_pin_input1 input{
    font-size: 30px; /* Adjust font size as needed */
    text-align: center;
    line-height: 2;
}
.admin_pin_input1 button{
    position: relative;
    left: 0px;
}
@media screen and (max-width: 784px) {
    .admin_pin1{
        position: relative;
        left: 50px;
    }
    
}