@font-face {
    font-family: 'Be Vietnam Pro';
    src: url('public/fonts/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Be Vietnam Light';
    src: url('public/fonts/Be_Vietnam_Pro/BeVietnamPro-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Inter Light';
    src: url('public/fonts/Inter/static/Inter_24pt-ExtraLight.ttf') format('truetype');
}
.contentcard{
    display: flex;
    justify-content:center;
    margin-bottom: 50px;
}
.contentcard > img{
    width: 400px;
    height: 250px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 1ch;
}
.content > h3 {
    font-family: 'Be Vietnam Pro';
}
.p1{
    font-family: 'Be Vietnam Light';
    color: #828282;
}
.p2{
    font-family: 'Inter Light';
}